<config>
    <databasefile>
        <database value="Livonia1" />
    </databasefile>
   
    <tiers>
        <tier value="Tier1" />
        <tier value="Tier2" />
        <tier value="Tier3" />
        <tier value="Tier4" />
    </tiers>
      
    <traders>
	    <trader value="Trader 1" />
        <trader value="Trader 2" />
        <trader value="Trader 3" />
    </traders>
    
    <rairties> 
        <rarity value="undefined" />
        <rarity value="Not in CE" />
        <rarity value="Legendary" />
        <rarity value="Extremely Rare" />
        <rarity value="Very Rare" />
        <rarity value="Rare" />
        <rarity value="Somewhat Rare" />
        <rarity value="Uncommon" />
        <rarity value="Common" />
        <rarity value="Very Common" />
        <rarity value="All Over The Place" />
    </rairties>
</config>