<config>
    <usages>
        <usage value="Town"/>
        <usage value="Police"/>
        <usage value="Military"/>
        <usage value="item4"/>
    </usages>
    <tiers>
        <tier value="Tier1"/>
        <tier value="Tier2"/>
        <tier value="Tier3"/>
        <tier value="Tier4"/>
    </tiers>
	<categoryes>
	    <category value="other"/>	
	    <category value="clothes"/>
        <category value="containers"/>
        <category value="explosives"/>
        <category value="food"/>
        <category value="tools"/>
        <category value="weapons"/>
	</categoryes>	
    <types>
        <type value="all"/>
        <type value="type"/>
        <type value="type1"/>
        <type value="type2"/>
    </types>
    <sub_types>
        <sub_type value="Sub Type 1"/>
        <sub_type value="Sub Type 2"/>
    </sub_types>
    <mods>
	    <mod value="Vanilla"/>
        <mod value="Mod 1"/>
        <mod value="Mod 2"/>
    </mods>
    <rairties>
        <rarity value="undefined"/>
        <rarity value="Legendary"/>
        <rarity value="Extremely Rare"/>
        <rarity value="Very Rare"/>
        <rarity value="Rare"/>
        <rarity value="Somewhat Rare"/>
        <rarity value="Uncommon"/>
        <rarity value="Common"/>
        <rarity value="Very Common"/>
        <rarity value="All Over The Place"/>
    </rairties>
    <tree>
        <node text="Name" width ="200" col_id="#1" stretch="YES"/>
        <node text="Nominal" width ="60" col_id="#2" stretch="NO"/>
        <node text="Min" width="80" col_id="#3" stretch="NO"/>
        <node text="Restock" width="80" col_id="#4" stretch="NO"/>
        <node text="Lifetime" width="80" col_id="#5" stretch="NO"/>
        <node text="Usage" width="200" col_id="#6" stretch="YES"/>
        <node text="Tier" width="150" col_id="#7" stretch="NO"/>
        <node text="Rarity" width="80" col_id="#8" stretch="NO"/>
		<node text="Category" width="80" col_id="#9" stretch="NO"/>
        <node text="Type" width="80" col_id="#10" stretch="NO"/>
        <node text="Sub Type" width="80" col_id="#11" stretch="NO"/>
        <node text="Mod" width="80" col_id="#12" stretch="NO"/>
        <node text="Trader" width="60" col_id="#13" stretch="NO"/>
    </tree>
</config>